[run]
source = accounts, billing, conversations, notifications, projects
omit =
    */migrations/*
    */admin.py
    */apps.py
    */tests.py

[report]
show_missing = True
skip_covered = False
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
